.idea/
app/._.gitignore
app/._src
app/src/._androidTest
app/src/._main
app/src/._test
app/src/androidTest/._java
app/src/main/._AndroidManifest.xml
app/src/main/._java
app/src/main/._res
app/src/main/java/._com
app/src/main/java/com/._example
app/src/main/java/com/example/._propiedadesguitarra2
app/src/main/java/com/example/propiedadesguitarra2/._MainActivity.java
app/src/main/java/com/example/propiedadesguitarra2/._components
app/src/main/java/com/example/propiedadesguitarra2/._converters
app/src/main/java/com/example/propiedadesguitarra2/._model
app/src/main/java/com/example/propiedadesguitarra2/._storage
app/src/main/java/com/example/propiedadesguitarra2/._ui
app/src/main/java/com/example/propiedadesguitarra2/components/._AutoGridLayout.java
app/src/main/java/com/example/propiedadesguitarra2/converters/._NumberConverter.java
app/src/main/java/com/example/propiedadesguitarra2/model/._Pair.java
app/src/main/java/com/example/propiedadesguitarra2/ui/._cargarguardar
app/src/main/java/com/example/propiedadesguitarra2/ui/._configuraciones
app/src/main/java/com/example/propiedadesguitarra2/ui/._propiedades
app/src/main/java/com/example/propiedadesguitarra2/ui/._propiedadescuerda
app/src/main/java/com/example/propiedadesguitarra2/ui/cargarguardar/._BluetoothService.java
app/src/main/java/com/example/propiedadesguitarra2/ui/cargarguardar/._DeviceListActivity.java
app/src/main/res/._drawable
app/src/main/res/._drawable-v24
app/src/main/res/._layout
app/src/main/res/._menu
app/src/main/res/._mipmap-anydpi-v26
app/src/main/res/._mipmap-hdpi
app/src/main/res/._mipmap-mdpi
app/src/main/res/._mipmap-xhdpi
app/src/main/res/._mipmap-xxhdpi
app/src/main/res/._mipmap-xxxhdpi
app/src/main/res/._navigation
app/src/main/res/._values
app/src/main/res/drawable-v24/._ic_launcher_foreground.xml
app/src/main/res/drawable/._ic_dashboard_black_24dp.xml
app/src/main/res/drawable/._ic_home_black_24dp.xml
app/src/main/res/drawable/._ic_launcher_background.xml
app/src/main/res/drawable/._ic_notifications_black_24dp.xml
app/src/main/res/layout/._activity_device_list.xml
app/src/main/res/layout/._activity_main.xml
app/src/main/res/layout/._device_name.xml
app/src/main/res/layout/._fragment_configuraciones.xml
app/src/main/res/layout/._fragment_propiedades.xml
app/src/main/res/layout/._fragment_propiedades_cuerda.xml
app/src/main/res/menu/._bottom_nav_menu.xml
app/src/main/res/mipmap-anydpi-v26/._ic_launcher.xml
app/src/main/res/mipmap-anydpi-v26/._ic_launcher_round.xml
app/src/main/res/mipmap-hdpi/._ic_launcher.png
app/src/main/res/mipmap-hdpi/._ic_launcher_round.png
app/src/main/res/mipmap-mdpi/._ic_launcher.png
app/src/main/res/mipmap-mdpi/._ic_launcher_round.png
app/src/main/res/mipmap-xhdpi/._ic_launcher.png
app/src/main/res/mipmap-xhdpi/._ic_launcher_round.png
app/src/main/res/mipmap-xxhdpi/._ic_launcher.png
app/src/main/res/mipmap-xxhdpi/._ic_launcher_round.png
app/src/main/res/mipmap-xxxhdpi/._ic_launcher.png
app/src/main/res/mipmap-xxxhdpi/._ic_launcher_round.png
app/src/main/res/navigation/._mobile_navigation.xml
app/src/main/res/values/._attrs.xml
app/src/main/res/values/._colors.xml
app/src/main/res/values/._dimens.xml
app/src/main/res/values/._strings.xml
app/src/main/res/values/._styles.xml
app/src/test/._java
gradle/._wrapper
gradle/wrapper/._gradle-wrapper.jar
gradle/wrapper/._gradle-wrapper.properties
local.properties
